/* =============
  Media Queries
 =============*/
@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  color: #fdfdfd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 2em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fdfdfd;
}

a span {
  margin-left: 5px;
}

p {
  line-height: 1.8;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #545b67;
  padding: 0;
  height: 1px;
}

/* Fonts */
* {
  font-family: "Muli", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Rambla", sans-serif;
}

.button {
  display: block;
  text-align: center;
  border: 1px solid #545b67;
  padding: 12px 0;
  border-radius: 8px;
  letter-spacing: 0.1em;
  background: rgba(71, 91, 99, 0);
}

.button:hover {
  background: rgba(71, 91, 99, 0.4);
}

.learn-more {
  min-height: 25px;
  display: inline-block;
}

.learn-more span {
  vertical-align: middle;
}

.learn-more .fa-chevron-circle-right {
  color: #fdfdfd;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 1.5em;
  vertical-align: middle;
}

.learn-more:hover .fa-chevron-circle-right {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #a4a4a4;
}

header {
  color: #fdfdfd;
  background-color: #394548f8;
  text-transform: uppercase;
  padding: 15px;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.toggled-nav {
  visibility: hidden;
  position: fixed;
  background: rgba(25, 28, 31, 0.3);
  height: 100%;
  left: 0;
  opacity: 1;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}

.toggled-nav__inner {
  background-color: #1c2e4a;
  text-align: center;
  width: 82%;
  padding: 25px;
  border-radius: 10px;
  letter-spacing: 0.2em;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.toggled-nav__inner .fa-times {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.toggled-nav__inner hr {
  margin: 25px 0;
}

.toggled-nav__inner .nav-menu {
  line-height: 3;
}

.toggled-nav__inner .nav-menu a {
  display: block;
  border-radius: 10px;
}

.toggled-nav__inner .nav-menu a:hover {
  background-color: #192841;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .fa-bars {
  cursor: pointer;
}

.card-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  gap: 2em;
}

form {
  margin: 30px 0;
}

form input,
form textarea {
  display: block;
  width: 100%;
  color: #fdfdfd;
  border-radius: 8px;
  background-color: transparent;
  padding: 0 10px;
  letter-spacing: 0.2em;
  border: 1px solid #6e7a85;
}

form input:focus,
form textarea:focus {
  border: 1px solid #2d76c9;
  border-radius: 8px;
  outline: none;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

form #email-label {
  margin-top: 20px;
}

form #email {
  margin-bottom: 20px;
}

form input {
  height: 40px;
}

form textarea {
  margin-bottom: 20px;
}

/*========
  Footer
=========*/
footer {
  background-color: #121211;
  padding: 2em;
  font-size: 0.9em;
  color: #545b67;
}

footer p {
  border-top: 1px solid #545b67;
  padding-top: 3em;
}

/*==============
  Hero Section
==============*/
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/banner.jpeg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/banner.jpeg) center/cover no-repeat fixed;
  padding: 4em 2em;
  color: #fdfdfd;
  height: 69vh;
}

.hero .fa-map-signs {
  font-size: 3.2em;
  border: 1px solid #fdfdfd;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin: 20px 0;
}

.hero__title {
  font-size: 1.8rem;
}

.hero hr {
  margin: 20px 0;
  border-top: 1px solid #6e7a85;
}

.hero__content {
  font-size: 0.8rem;
}

/*================
  Feature Section
=================*/
.features img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.features__content__title {
  margin: 20px 0;
}

.features__content__text {
  margin: 20px 0;
}

.features__relax {
  background-color: #1c2e4a;
  text-align: right;
  position: relative;
  z-index: 1;
  padding-bottom: 110px;
}

.features__relax::before {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  top: -40px;
  left: 0;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}

.features__photography {
  background-color: #192841;
  position: relative;
  z-index: 1;
  padding-bottom: 110px;
}

.features__photography::before {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  top: -40px;
  left: 0;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
}

.features__food-and-drinks {
  background-color: #152238;
  position: relative;
  z-index: 1;
  text-align: right;
  padding-bottom: 110px;
}

.features__food-and-drinks::before {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  top: -40px;
  left: 0;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}

/*===================
  Activities Section
===================*/
.activities {
  background-color: #1d2528;
  position: relative;
  z-index: 1;
}

.activities__inner hr {
  margin: 20px 0;
}

.activities::before {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  top: -40px;
  left: 0;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
}

.activities::after {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  bottom: -30px;
  left: 0;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}

.card-section {
  margin: 2em 0;
}

.card-section .card {
  background-color: #2b353d;
  border-radius: 8px;
  overflow: hidden;
}

.card-section .card__content {
  padding: 25px;
}

.card-section .card__content a {
  padding: 30px 0 5px 0;
  display: inline-block;
}

/*=================
  Contact Section
=================*/
.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/banner.jpeg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/banner.jpeg) center/cover no-repeat fixed;
}

.contact__inner {
  padding-top: 5em;
}

.contact__inner hr {
  margin: 20px 0;
  border-top: 1px solid #6e7a85;
}

.info {
  margin: 50px 0;
}

.info__icon {
  float: left;
  font-size: 1.2em;
  border: 1px solid #6e7a85;
  border-radius: 50%;
  padding: 10px;
  min-height: 45px;
  min-width: 45px;
  text-align: center;
}

.info__text {
  margin: 0 0 50px 55px;
  padding-top: 13px;
  font-size: 0.9rem;
}

.info__text:nth-child(2) {
  margin-bottom: 40px;
}

.info span {
  margin: 10px 0;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */