/*==============
  Hero Section
==============*/
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/banner.jpeg) center / cover no-repeat;
  padding: 4em 2em;
  color: color(primary);
  height: 69vh;

  .fa-map-signs {
    font-size: 3.2em;
    border: 1px solid color(primary);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: $y-element-margin;
  }

  &__title {
    font-size: 1.8rem;
  }

  hr {
    margin: $y-element-margin;
    border-top: 1px solid color(light-muted);
  }

  &__content {
    font-size: 0.8rem;
  }
}

/*================
  Feature Section
=================*/
.features {
  img {
    border-radius: 50%;
    height: $img-measurement;
    width: $img-measurement;
  }

  &__content {
    &__title {
      margin: $y-element-margin;
    }

    &__text {
      margin: $y-element-margin;
    }
  }

  // First Feature
  &__relax {
    background-color: color(light-blue);
    text-align: right;
    position: relative;
    z-index: 1;
    padding-bottom: $section-botton-padding;
  }

  &__relax::before {
    position: absolute;
    width: 100%;
    height: 20%;
    content: "";
    background: inherit;
    z-index: -1;
    top: $razor-blade-top;
    left: 0;
    transform: skewY(-8deg);
  }

  // Second Feature
  &__photography {
    background-color: color(mid-blue);
    position: relative;
    z-index: 1;
    padding-bottom: $section-botton-padding;
  }

  &__photography::before {
    position: absolute;
    width: 100%;
    height: 20%;
    content: "";
    background: inherit;
    z-index: -1;
    top: $razor-blade-top;
    left: 0;
    transform: skewY(8deg);
  }

  // Third Feature
  &__food-and-drinks {
    background-color: color(dark-blue);
    position: relative;
    z-index: 1;
    text-align: right;
    padding-bottom: $section-botton-padding;
  }

  &__food-and-drinks::before {
    position: absolute;
    width: 100%;
    height: 20%;
    content: "";
    background: inherit;
    z-index: -1;
    top: $razor-blade-top;
    left: 0;
    transform: skewY(-8deg);
  }
}

/*===================
  Activities Section
===================*/
.activities {
  background-color: color(main-gray);
  position: relative;
  z-index: 1;

  &__inner {
    hr {
      margin: $y-element-margin;
    }
  }
}

.activities::before {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  top: -40px;
  left: 0;
  transform: skewY(8deg);
}

.activities::after {
  position: absolute;
  width: 100%;
  height: 20%;
  content: "";
  background: inherit;
  z-index: -1;
  bottom: -30px;
  left: 0;
  transform: skewY(-8deg);
}

.card-section {
  margin: 2em 0;

  .card {
    background-color: color(sub-gray);
    border-radius: 8px;
    overflow: hidden;

    &__content {
      padding: 25px;

      a {
        padding: 30px 0 5px 0;
        display: inline-block;
      }
    }
  }
}

/*=================
  Contact Section
=================*/
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/banner.jpeg) center / cover no-repeat;

  &__inner {
    padding-top: 5em;

    hr {
      margin: $y-element-margin;
      border-top: 1px solid color(light-muted);
    }
  }
}

// Info
.info {
  margin: 50px 0;

  &__icon {
    float: left;
    font-size: 1.2em;
    border: 1px solid color(light-muted);
    border-radius: 50%;
    padding: 10px;
    min-height: 45px;
    min-width: 45px;
    text-align: center;
  }

  &__text {
    margin: 0 0 50px 55px;
    padding-top: 13px;
    font-size: 0.9rem;

    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }

  span {
    margin: 10px 0;
    display: inline-block;
  }
}

// .features a i {
//   padding-right: -8px;
//   transition: padding 0.3s;
// }

// /* Hover on */
// .features a:hover i {
//   transition: all 0.3s ease-in-out;
//   padding-right: 8px;
// }
