* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: color(primary);
  max-width: 1200px;
}

section {
  padding: $content-padding;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: color(primary);
}

// in LEARN MORE action
a span {
  margin-left: 5px;
}

p {
  line-height: 1.8;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid color(muted);
  padding: 0;
  height: 1px;
}
