* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: color(primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: $content-padding;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: color(primary);
}

img {
  width: 100%;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid color(muted);
  padding: 0;
  height: 1px;
}
