/*========
  Footer
=========*/

footer {
  background-color: #121211;
  padding: 2em;
  font-size: 0.9em;
  color: color(muted);

  p {
    border-top: 1px solid color(muted);
    padding-top: 3em;
  }
}
