header {
  color: color(primary);
  background-color: #394548f8; //rgba(58, 73, 76, 0.568);
  text-transform: uppercase;
  padding: 15px;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}
