.toggled-nav {
  visibility: hidden;
  position: fixed;
  background: rgba(25, 28, 31, 0.3);
  height: 100%;
  left: 0;
  opacity: 1;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    background-color: color(light-blue);
    text-align: center;
    width: 82%;
    padding: 25px;
    border-radius: 10px;
    letter-spacing: 0.2em;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .fa-times {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: pointer;
    }

    hr {
      margin: 25px 0;
    }

    .nav-menu {
      line-height: 3;

      a {
        display: block;
        border-radius: 10px;
      }

      a:hover {
        background-color: color(mid-blue);
      }
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  .fa-bars {
    cursor: pointer;
  }
}
