// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Colors
$colors: (
  primary: #fdfdfd,
  muted: #545b67,
  dark-blue: #1c4c74,
  mid-blue: #1f5480,
  light-blue: #246092,
  hr-color: #658096,
);

$content-padding: 2em;
$y-element-margin: 20px 0;
