// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Colors
$colors: (
  primary: #fdfdfd,
  muted: #545b67,
  light-muted: #658096,
  dark-blue: #152238,
  mid-blue: #192841,
  light-blue: #1c2e4a,
  // dark-blue: #1c4c74,
    // mid-blue: #1f5480,
    // light-blue: #246092,,
);

// Images
$img-measurement: 200px;

$content-padding: 2em;
$chevron-padding: 0.5em;
$y-element-margin: 20px 0;
