.learn-more {
  min-height: 25px;
  display: inline-block;
}

.learn-more span {
  vertical-align: middle;
  margin-left: 15px;
}

// Hover off
.learn-more .fa-chevron-circle-right {
  color: color(primary);
  transition: color 0.2s;
  font-size: 1.5em;
  vertical-align: middle;
}

// Hover on
.learn-more:hover .fa-chevron-circle-right {
  transition: all 0.2s ease-in;
  color: darken($color: color(primary), $amount: 35%);
}
